
.navber{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}
.h5{
    font-size: 24px;
    font-weight: bold;
}
.ul{
    list-style: none;
    display: flex;
    /* border: 1px solid; */
}
.li{
    /* border: 1px solid; */
    margin-left: 20px;
    
}
.li a{
    text-decoration: none;
    color:black;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.h3-tag{
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
}

.camera1{
    width: 200px;
    height: 200px;
}
.hero button{
    background-color: crimson;
}
/* .button1{
    border: 1px solid;
    border-radius: 50px;
    color: white;
} */

.button1{
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 2px 2px ;
    gap: 5px;
    font-size: 16px;
    
}
.icon{
    width: 50px;
    height: 30px;
}
.footer{
    /* border: 2px solid; */
    margin-top: 100px;
    justify-content: space-between;
   
}
.img1{
    margin-left: 50px;
    padding-right: 60px;
}
.product-containar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* this image hover section word */
.hover-image{
    /* border: 2px solid; */
    margin-top: 100px;
    width: 320px;
    height: 450px;
    margin-left: 30px;
    background-color:#ffffff;
    box-shadow: 1px 2px 4px rgba(100, 37, 66, 0.7);
    ;
}
.po{
    text-align: center;
    margin-top: 70px;
}
.first{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}
.fles{
    margin-left: 10px;
    font-size: 28px;
    margin-top: 10px;
}
.rating{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -15px;
}
.wor{
    margin-left: 10px;
    font-size: 14px;
}

/* this second image section */

.hover-image1{
    margin-top: 100px;
    width: 320px;
    height: 450px;
    margin-left: 30px;
    background-color:#ffffff;
    box-shadow: 1px 2px 4px rgba(100, 37, 66, 0.7);
}
.second{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}
.fles1{
    margin-left: 10px;
    font-size: 28px;
    margin-top: 10px;
}
.dolar{
    margin-left: 10px;
}

.rating1{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -15px;
}
.wor1{
    margin-left: 10px;
    font-size: 14px;
}
.product-viwes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* this 3rd iamge section */

.hover-image2{
    margin-top: 100px;
    width: 320px;
    height: 450px;
    margin-left: 30px;
    background-color:#ffffff;
    box-shadow: 1px 2px 4px rgba(100, 37, 66, 0.7);
}
.third{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}
.fles2{
    margin-left: 10px;
    font-size: 28px;
    margin-top: 10px;
}
.dolar1{
    margin-left: 10px;
}
.rating2{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -15px;
}
.wor2{
    margin-left: 10px;
    font-size: 14px;
}
/* this fourth image section */

.fourth{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}
.fles3{
    margin-left: 10px;
    font-size: 28px;
    margin-top: 10px;
}
.dolar2{
    margin-left: 10px;
}
.wor3{
    margin-left: 10px;
    font-size: 14px;
}
.rating{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -15px;
}
/* this five image section */
.five{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}
.fles4{
    margin-left: 10px;
    font-size: 28px;
    margin-top: 10px;
}
.dolar3{
    margin-left: 10px;
}
.rating{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -15px;
}
.wor4{
    margin-left: 10px;
    font-size: 14px;
}

/* this six image section */

.six{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
}
.fles5{
    margin-left: 10px;
    font-size: 28px;
    margin-top: 10px;
}
.dolar4{
    margin-left: 10px;
}
.rating{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -15px;
}
.wor5{
    margin-left: 10px;
    font-size: 14px;
}

/* this footer pattern */


.second-footer{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 100px;
    background-color: gray;
    margin-left: 10px;
}
.f{
    text-align: center;
    font-size: 25px;
}
.ul-f{
    list-style: none;
    display: flex;
    margin-right: 600px;
    text-decoration: none;
    text-align: center;
    align-items: center;
   
}
.li-f{
    /* border: 2px solid yellow; */
    margin-left: 40px;
    text-align: center;
    align-items: center;
}
