
.navber{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}
.h5{
    font-size: 24px;
    font-weight: bold;
}
.ul{
    list-style: none;
    display: flex;
    /* border: 1px solid; */
}
.li{
    /* border: 1px solid; */
    margin-left: 20px;
    
}
.li a{
    text-decoration: none;
    color:black;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.h3-tag{
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
}

.camera1{
    width: 200px;
    height: 200px;
}
.hero button{
    background-color: crimson;
}
/* .button1{
    border: 1px solid;
    border-radius: 50px;
    color: white;
} */

.button1{
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 2px 2px ;
    gap: 5px;
    font-size: 16px;
    
}
.icon{
    width: 50px;
    height: 30px;
}
.footer{
    /* border: 2px solid; */
    margin-top: 100px;
    justify-content: space-between;
   
}
.img1{
    margin-left: 50px;
    padding-right: 60px;
}
.product-containar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



                                               /* start product card section */

.product-title{
    margin-top: 70px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 10px 15px rgba(202, 94, 94, 0.5);
    width: 400px ;
    margin-left: 33%;
    padding: 10px;
}
.product-card{
    border: 1px solid white;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
}
.product-name{
    font-size: 28px;
    font-weight: bold;
    margin-top: 6px;
    text-align: center;
    margin-bottom: -13px;
}
.product-price{
    font-size: 24px;
    margin-bottom: -15px;
}
.product-rating{
    font-size: 22px;
    margin-bottom: -8px;
}
.product-description{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.All-Card-Here{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.product-main-div{
    margin-left:35px ;
    margin-right:35px ;
    margin-bottom:35px ;
}
.product-card:hover{
    box-shadow: 0 15px 20px blue ;
}

/* start 2nd card section */

.product-card-second{
    border: 1px solid white;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 12px rgba(2, 3, 3, 0.5);
    border-radius: 15px;
    padding: 10px;
}
.product-card-second:hover{
    box-shadow:0 13px 15px crimson;
}